#navbar {
  width: 100%;
  background-color: $colorFF;

}
.navbar-box {
  border-bottom: 1px solid;
  @include flex-center;
  
  .navbar-flow {
    width: 100%;
    flex-flow: nowrap;

    .logo {
      padding: 24px 48px;
      @include desktop-top {
        padding: 24px;
      }

      p>a {
        font-size: 48px;
        text-decoration: none;
        color: $linkcolor;
        font-style: italic;
      }
    }

    .navbar-list {
      width: 100%;
      display: flex;
      @include flex-end;
      @include pad-top {
        max-height: 0;
        position: absolute;
        overflow: hidden;
        width: 100%;
        top: 85px;
        transition: .6s;
        z-index: 10;
        display: block;
        background-color: $linkcolor3;        
        &.inverse {
          max-height: 500px;
        }
      }

      .active {        
        font-family: $linklato;
        font-size: 24px;
        padding: 24px;
        @include pad-top {
          height: 50px;
          align-items: center;
          border-top: 1px solid $linkcolor2;
          display: flex;
          justify-content: center;
          cursor: pointer;
          &.active:hover {
            background-color: $colorFF;
          }
        }
        a {
          text-decoration: none;
          color: $linkcolor;
          cursor: pointer;
        }
      }
    }
  }

  .icon {
    display: none;
    cursor: pointer;
    @include pad-top {
      width: 100%;
      padding-right: 24px;
      display: flex;
      @include flex-end;
    }
  }
}