
#navbar {
  width: 100%;
  background-color: $colorFF;

}
.navbar-box {
  padding: 24px 48px;
  border-bottom: 1px solid;
  @include flex-center;

  .navbar-between {
    width: 100%;
    @include flex-between;

    .logo {
      width: 112px;

      p>a {
        font-size: 48px;
        text-decoration: none;
        color: $linkcolor;
        font-style: italic;
      }
    }

    .navbar-list {
      width: 20%;
      @include flex-between;
      @include desktop-below {
        width: 30%;
      }
      @include desktop-top {
        width: 40%;
      }

      li {        
        font-family: $linklato;
        font-size: 24px;

        a {
          text-decoration: none;
          color: $linkcolor;
          cursor: pointer;
        }
      }
    }
  }
}