.onebody {
  width: 100%;
  min-height: 100vh;
  @include desktop-top {
    flex-wrap: wrap;
  }

  .read-more {
    align-items: center;
    z-index: 1;
    background-color: $linkcolor3;
    top: 50%;
    left: 50%;
    transform: translate(-68%, -50%);
    @include desktop-top {
      transform: translate(-50%, -50%);
    }
    
    input[type=button] {
      font-family: $linklato;
      font-size: 24px;
      padding: 16px;
    }

    button[type=submit] {
      background-color: $color12;

        i {
          color: $colorFF;
          padding: 22px;
        }
    }
  }

  .onebody-left {
    width: 50%;
    @include desktop-top {
      order: 1;
      width: 100%;
    }

    .onebody-image {
      @include bg-fixed;
      background-image: url('~@/assets/image/p2.jpg');
      width: 100%;
      height: 100%;
    }
  }

  .onebody-right {
    width: 50%;
    background-color: $linkcolor3;
    @include desktop-top {
      order: 2;
      width: 100%;
    }

    .onebody-nav {
      width: 80%;
      padding-top: 96px;
      margin: 0 auto;
      @include desktop-top {
        width: 100%;
        position: absolute;
        bottom: 7vmin;
        padding: inherit;
      }

      p {
        color: $linkcolor2;
        font-family: $linklato;
        font-size: 16px;
        line-height: 24px;
        @include desktop-top {
          width: 80%;
          margin: 0 auto;
        }
      }
    }
    .onebody-title {
      right: 8rem;
      bottom: -50rem;
      justify-content: flex-end;
      @include desktop-below {
        top: 20rem;
        right: 3rem;
      }
      @include desktop-top {
        top: 20rem;
        right: 13rem;
      }

      .title-gsap{
        bottom: 180px;
        font-size: 6.5vmin;
        font-family: $linkmerr;
        @include desktop {
          font-size: 5.5vmin;
        }
        @include desktop-below {
          font-size: 5vmin;
        }
      }
      .title2-gsap{
        bottom: 80px;
        font-size: 6.5vmin;
        font-family: $linkmerr;
        @include desktop {
          font-size: 5.5vmin;
        }
        @include desktop-below {
          font-size: 5vmin;
        }
      }
    }
  }
}