.footer-body {
  width: 100%;
  min-height: 100vh;
  @include flex-center;

  .footer-box {
    width: 100%;

    ul {
      @include flex-between;
      margin: 0 auto;
      width: 70%;
      @include desktop {
        width: 80%
      }
      @include desktop-below {
        width: 90%;
      }
    li {
      width: 30%;

      .footer-box-img {
        @include bg-center;
        height: 600px;
      }

      .footer-title {
        font-size: 24px;
        font-family: $linkmerr;
        color: $linkcolor;
        font-style: italic;
        padding: 24px 0 16px;
      }

      .footer-date {
        padding-bottom: 16px;
      }

      .footer-nav {
        font-size: 16px;
        line-height: 24px;
        font-family: $linklato;
        color: $linkcolor2;
        @include desktop-below {
          font-size: 14px;
        }
      }
    }
    }
  }
}
.footer-bottom {
  width: 100%;
  justify-content: center;

  .footer-bottom-color {
    background-color: $linkcolor3;
    width: 90%;

    .footer-bottom-box {
      padding: 24px 48px;

      .footer-bottom-nav {
        width: 100%;
        @include flex-between;

        ul {
          width: 250px;
          @include flex-between;

          li>a {
            color: $linkcolor;
            text-decoration: none;
          }
        }

        p {
          font-size: 14px;
          font-family: $linklato;
          color: $linkcolor2;
        }

        tfoot {
          height: 48px;
          width: 112px;
          font-size: 48px;
          font-style: oblique;
        }
      }
    }
  }
}