.footer-body {
  width: 100%;
  min-height: 100vh;
  @include flex-center;

  .footer-box {
    width: 100%;

    ul {
      @include flex-between;
      margin: 0 auto;
      width: 70%;
      @include desktop {
        width: 80%
      }
      @include desktop-below {
        width: 90%;
      }
    li {
      width: 30%;

      .footer-box-img {
        @include bg-center;
        height: 600px;
        @include desktop-top {
          height: 45vh;
        }
        @include pad-top {
          height: 35vh;
        }
        @include mobile480 {
          height: 30vh;
        }
      }

      .footer-title {
        font-size: 24px;
        font-family: $linkmerr;
        color: $linkcolor;
        font-style: italic;
        padding: 24px 0 16px;
        @include pad-top {
          font-size: 20px;
        }
        @include mobile480 {
          font-size: 14px;
        }
      }

      .footer-date {
        padding-bottom: 16px;
      }

      .footer-nav {
        font-size: 16px;
        line-height: 24px;
        font-family: $linklato;
        color: $linkcolor2;
        @include desktop-below {
          font-size: 14px;
        }
        @include iphone {
          font-size: 12px;
        }
        @include mobile480 {
          overflow: hidden;
          text-overflow:ellipsis;
          display:-webkit-box; 
          -webkit-box-orient:vertical;
          -webkit-line-clamp:6; 
        }
      }
    }
    }
  }
}
.footer-bottom {
  width: 100%;
  position: relative;
  @include flex-center;

  .footer-bottom-color {
    background-color: $linkcolor3;
    width: 90%;

    .footer-bottom-box {
      padding: 24px 48px;
      @include pad-top {
        padding: 24px;
      }

      .footer-bottom-nav {
        width: 100%;
        @include flex-between;

        ul {
          width: 250px;
          @include flex-between;
          @include mobile480 {
            width: 160px;
          }

          li>a {
            color: $linkcolor;
            text-decoration: none;
          }
        }

        p {
          font-size: 14px;
          font-family: $linklato;
          color: $linkcolor2;
          @include pad-top {
            position: absolute;
            bottom: 10px;
            left: 30vmin;
          }
          @include mobile480 {
            display: none;
          }
        }

        tfoot > a {
          height: 48px;
          width: 112px;
          font-size: 48px;
          font-style: oblique;
          text-decoration: none;
          color: $linkcolor;
          @include pad-top {
            font-size: 32px;
          }
        }
      }
    }
  }
}