.collection {
  width: 100%;
  background-color: $colorFF;
  height: 416px;
  @include flex-center;

  .collection-nav {
    width: 600px;

    .collection_title {
      font-size: 48px;
      line-height: 64px;
      font-family: $linkmerr;
      color: $linkcolor;
      padding-bottom: 24px;
      text-align: center;
    }

    .collection_text {
      font-size: 16px;
      line-height: 24px;
      font-family: $linklato;
      color: $linkcolor2;
      text-align: center;
    }
  }
}
.collection-box {
  position: relative;

  .collection-img {
    @include bg-fixed;
    background-image: url('~@/assets/image/p4.jpg');
    background-position: 50% 20%;
    height: 640px;
    width: 100%;
    @include desktop {
      height: 540px;
    }
  }

  .collection-text {
    width: 450px;
    background-color: $colorFF;
    left: 155px;
    bottom: 77px;

    h1 {
      font-size: 24px;
      line-height: 36px;
      font-family: $linkmerr;
      color: $linkcolor;
      padding: 16px;
      @include desktop {
        font-size: 20px;
      }
    }

    i {
      font-size: 16px;
      color: $linkcolor2;
      font-family: $linklato;
      padding-left: 16px;
      padding-bottom: 16px;
      display: inline-block;
      font-style: oblique;
    }
  }
}