.collection {
  width: 100%;
  background-color: $colorFF;
  height: 416px;
  @include flex-center;

  .collection-nav {
    width: 600px;

    .collection_title {
      font-size: 48px;
      line-height: 64px;
      font-family: $linkmerr;
      color: $linkcolor;
      padding-bottom: 24px;
      text-align: center;
      @include iphone {
        font-size: 36px;
      }
      @include mobile414 {
        font-size: 28px;
      }
    }

    .collection_p {
      font-size: 16px;
      line-height: 24px;
      font-family: $linklato;
      color: $linkcolor2;
      text-align: center;
      @include pad-top {
        margin: 0 auto;
        width: 90%;
      }
    }
  }
}
.collection-box {
  position: relative;

  .collection-img {
    @include bg-fixed;
    background-image: url('~@/assets/image/p4.jpg');
    background-position: 50% 20%;
    height: 640px;
    width: 100%;
    @include desktop {
      height: 540px;
    }
    @include mobile480 {
      height: 480px;
    }
  }

  .collection-text {
    width: 450px;
    background-color: $colorFF;
    left: 155px;
    bottom: 77px;
    @include pad-top {
      width: 60%;
      left: 20px;
    }
    @include mobile480 {
      width: 90%;
      bottom: 3vmin;
    }

    h1 {
      font-size: 24px;
      line-height: 36px;
      font-family: $linkmerr;
      color: $linkcolor;
      padding: 16px;
      @include desktop {
        font-size: 20px;
      }
      @include pad-top {
        font-size: 16px;
      }
    }

    i {
      font-size: 16px;
      color: $linkcolor2;
      font-family: $linklato;
      padding-left: 16px;
      padding-bottom: 16px;
      display: inline-block;
      font-style: oblique;
      @include pad-top {
        font-size: 14px;
      }
    }
  }
}